.lmj-categories {
	text-align: center;
	padding-top: 30px;
}

.lmj-categories-select {
	margin-right: 15px;
}

.lmj-categories-button {
	cursor: pointer;
	background: none;
	border-radius: 5px;
	border-color: #A6ADE3;
}